.normal { --type-clr: #a4acaf; }
.fighting { --type-clr: #d56723; }
.flying { --type-clr: linear-gradient(#3dc7ef 50%, #bdb9b8 0); }
.poison { --type-clr: #b97fc9; }
.ground { --type-clr: linear-gradient(#f7de3f 50%, #ab9842 0); }
.rock { --type-clr: #a38c21; }
.bug { --type-clr: #729f3f; }
.ghost { --type-clr: #7b62a3; }
.steel { --type-clr: #9eb7b8; }
.fire { --type-clr: #fd7d24; }
.water { --type-clr: #4592c4; }
.grass { --type-clr: #9ccd51; }
.electric { --type-clr: #eed535; }
.psychic { --type-clr: #f366b9; }
.ice { --type-clr: #51c4e7; }
.dragon { --type-clr: linear-gradient(#53a4cf 50%, #f16e57 0); }
.dark { --type-clr: #707070; }
.fairy { --type-clr: #fdb9e9; }
.unknown { --type-clr: firebrick; }
.shadow { --type-clr: black; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all .3s;
  list-style-type: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url('../public/ULBg.png');
  background-size: cover;
  background-position: fixed;
}